@import "../variables/variables.scss";
@import "../animations/animations.scss";

* {
    background-color: $backgroundCream;
    text-align: center;
    margin: 0 auto;
}

body {
    @include flexbox-column-nowrap;
}

h1 {
    font-family: $ZaftA;
    font-size: 4em;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}