@import "../variables/variables.scss";

.thicker-on-hover {
    font-family: "ZaftA", Icons;
    font-variation-settings: "wght" 300;
    transition: font-variation-settings 0.33s ease;
    font-style: normal;
}

.thicker-on-hover:hover {
    font-variation-settings: "wght" 700;
}

@keyframes wiggle-on-hover {
    from {
        font-variation-settings: "wght" 300;
    }
    to {
        font-variation-settings: "wght" 400;
    }
    }

.wiggle-on-hover {
    font-family: "ZaftA", Icons;
    font-variation-settings: "wght" 300;
    font-style: normal;
    transition: font-variation-settings 0.3s ease;
}

.wiggle-on-hover:hover {
    animation-name: wiggle-on-hover;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}