@import "../variables/variables.scss";

#thicker-on-hover {
    font-family: "ZaftA", Icons;
    font-variation-settings: 'wght' 300;
    transition: font-variation-settings 0.33s ease;
    font-style: normal;
}

#thicker-on-hover:hover {
    font-variation-settings: 'wght' 700;
}