@import "../fonts/fonts.scss";

// FONT ZONE!
$Halibut: "Halibut";
$ZaftA: "ZaftA";
$ZaftB: "ZaftB";
$ZaftC: "ZaftC";

// COLOR ZONE!
$backgroundCream: #FAF6B5;
$blackType: #161515;

// MIXINS ZONE!
@mixin flexbox-column-nowrap {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}